// Imports
@import "../../tools/mixins/mixins.scss";
@import "../../tools/themes/themes.scss";
@import "../../tools/variables/variable.scss";

// Fonts
@font-face {
  font-family: "Montserrat Regular";
  src: url("../../../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("../../../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat Semibold";
  src: url("../../../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../../../fonts/Montserrat-Bold.ttf");
}

// Desktop
.footer {
  margin-top: 160px;

  .footer_top {
    background-color: $Shark;

    .footer_top_inner {
      padding-left: 30px;
      padding-right: 30px;
      max-width: 1360px;
      @include quickCenter("relative");

      .footer_top_inner_box {
        padding-top: 120px;
        padding-bottom: 30px;
        .footer_top_inner_row {
          .footer_top_inner_side {
            height: 350px;
            display: flex;
            align-items: flex-start;
          }

          .footer_top_L {
            .footer_top_inner_side_cnt {
              .logo {
                a {
                  text-decoration: none;
                  color: $WildSand;

                  h1 {
                    font-family: "Montserrat Bold";
                    font-size: 34px;
                  }

                  span {
                    font-family: "Montserrat Medium";
                    font-size: 9.5px;
                  }
                }
              }

              .contact {
                font-family: "Montserrat Medium";
                color: $WildSand;
                margin-top: 80px;

                li {
                  height: 30px;
                  font-size: 15px;
                  opacity: 0.7;
                  cursor: default;
                }
              }

              .socials {
                margin-top: 20px;
                @include displayElement(flex, space-between, center);
                max-width: 70px;

                li {
                  div {
                    cursor: pointer;
                    color: $WildSand;
                    font-size: 23px;

                    &:hover {
                      color: $ShuttleGray;
                    }
                  }
                }
              }
            }
          }

          .footer_top_R {
            justify-content: flex-end;

            .footer_top_inner_side_cnt {
              width: 100%;
              max-width: 290px;
              @include displayElement(flex, space-between, center);
              text-align: right;

              ul {
                font-family: "Montserrat Medium";
                font-size: 16px;

                li {
                  height: 40px;

                  a {
                    text-decoration: none;
                    color: $WildSand;

                    &:hover {
                      opacity: 0.5;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .footer_bottom {
    background-color: rgb(17, 17, 17);
    height: 50px;
    @include displayElement(flex, center, center);
    text-align: center;
    font-family: "Montserrat Semibold";
    color: $WildSand;
    font-size: 14px;

    .footer_bottom_cnt {
      opacity: 0.3;
      cursor: default;

      .icon {
        margin-right: 8px;
      }
    }
  }
}

// Responsive
@media all and (max-width: 1995px) {
}

@media all and (max-width: 991px) {
  .footer {
    margin-top: 110px;

    .footer_top {
      .footer_top_inner {
        padding: 0;

        .footer_top_inner_box {
          padding-top: 20px;

          .footer_top_inner_row {
            .footer_top_inner_side {
              height: 100%;
              max-width: 100%;
              width: 100%;
              justify-content: center;
              align-items: center;
            }

            .footer_top_L {
              height: 360px;

              .footer_top_inner_side_cnt {
                .logo {
                  text-align: center;
                }

                .contact {
                  text-align: center;

                  li {
                    font-size: 14px;
                  }
                }

                .socials {
                  @include quickCenter("relative");
                  justify-content: space-evenly;
                  max-width: 160px;
                }
              }
            }

            .footer_top_R {
              height: 180px;
              padding: 0;

              .footer_top_inner_side_cnt {
                max-width: 250px;

                ul {
                  text-align: center;
                  font-size: 14px;

                  li {
                    height: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .footer_bottom {
      .footer_bottom_cnt {
        font-size: 12px;
      }
    }
  }
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
  .footer {
    margin-top: 60px;

    .footer_top {
      .footer_top_inner {
        padding: 0;

        .footer_top_inner_box {
          padding-top: 0px;

          .footer_top_inner_row {
            .footer_top_inner_side {
              height: 100%;
              max-width: 100%;
              width: 100%;
              justify-content: center;
              align-items: center;
            }

            .footer_top_L {
              height: 360px;

              .footer_top_inner_side_cnt {
                .logo {
                  text-align: center;

                  a {
                    h1 {
                      font-size: 25px;
                    }

                    span {
                      font-size: 7px;
                    }
                  }
                }

                .contact {
                  text-align: center;
                  margin-top: 60px;

                  li {
                    font-size: 12px;
                  }
                }

                .socials {
                  @include quickCenter("relative");
                  justify-content: space-evenly;
                  max-width: 160px;
                }
              }
            }

            .footer_top_R {
              height: 110px;
              padding: 0;

              .footer_top_inner_side_cnt {
                max-width: 250px;

                ul {
                  text-align: center;
                  font-size: 13px;

                  li {
                    height: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .footer_bottom {
      .footer_bottom_cnt {
        font-size: 12px;
      }
    }
  }
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
  .footer {
    margin-top: 50px;

    .footer_top {
      .footer_top_inner {
        padding: 0;

        .footer_top_inner_box {
          padding-top: 0px;

          .footer_top_inner_row {
            .footer_top_inner_side {
              height: 100%;
              max-width: 100%;
              width: 100%;
              justify-content: center;
              align-items: center;
            }

            .footer_top_L {
              height: 360px;

              .footer_top_inner_side_cnt {
                .logo {
                  text-align: center;

                  a {
                    h1 {
                      font-size: 25px;
                    }

                    span {
                      font-size: 7px;
                    }
                  }
                }

                .contact {
                  text-align: center;
                  margin-top: 60px;

                  li {
                    font-size: 12px;
                  }
                }

                .socials {
                  @include quickCenter("relative");
                  justify-content: space-evenly;
                  max-width: 130px;

                  li {
                    div {
                      font-size: 19px;
                    }
                  }
                }
              }
            }

            .footer_top_R {
              height: 110px;
              padding: 0;

              .footer_top_inner_side_cnt {
                max-width: 210px;

                ul {
                  text-align: center;
                  font-size: 12px;

                  li {
                    height: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .footer_bottom {
      .footer_bottom_cnt {
        font-size: 11px;

        .icon {
          position: relative;
          top: -2px;
        }
      }
    }
  }
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .footer {
    margin-top: 50px;

    .footer_top {
      .footer_top_inner {
        padding: 0;

        .footer_top_inner_box {
          padding-top: 60px;

          .footer_top_inner_row {
            .footer_top_inner_side {
              height: 100%;
              max-width: 100%;
              width: 100%;
              justify-content: center;
              align-items: flex-start;
            }

            .footer_top_L {
              height: 220px;
              max-width: 40%;

              .footer_top_inner_side_cnt {
                .logo {
                  text-align: center;

                  a {
                    h1 {
                      font-size: 25px;
                    }

                    span {
                      font-size: 7px;
                    }
                  }
                }

                .contact {
                  text-align: left;
                  margin-top: 40px;

                  li {
                    font-size: 12px;
                  }
                }

                .socials {
                  @include quickCenter("relative");
                  margin-left: 0;
                  justify-content: space-between;
                  max-width: 60px;
                  margin-top: 10px;

                  li {
                    div {
                      font-size: 19px;
                    }
                  }
                }
              }
            }

            .footer_top_R {
              height: 220px;
              padding: 0;
              max-width: 60%;

              .footer_top_inner_side_cnt {
                max-width: 210px;
                display: grid;
                justify-content: flex-end;

                ul {
                  text-align: right;
                  font-size: 12px;
                  margin-bottom: 25px;

                  li {
                    height: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .footer_bottom {
      .footer_bottom_cnt {
        font-size: 11px;

        .icon {
          position: relative;
          top: -2px;
        }
      }
    }
  }
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .footer {
    margin-top: 50px;

    .footer_top {
      .footer_top_inner {
        padding: 0;
        padding-left: 30px;

        .footer_top_inner_box {
          padding-top: 60px;

          .footer_top_inner_row {
            .footer_top_inner_side {
              height: 100%;
              max-width: 100%;
              width: 100%;
              justify-content: center;
              align-items: flex-start;
            }

            .footer_top_L {
              height: 220px;
              max-width: 40%;

              .footer_top_inner_side_cnt {
                .logo {
                  text-align: center;

                  a {
                    h1 {
                      font-size: 25px;
                    }

                    span {
                      font-size: 7px;
                    }
                  }
                }

                .contact {
                  text-align: left;
                  margin-top: 40px;

                  li {
                    font-size: 12px;
                  }
                }

                .socials {
                  @include quickCenter("relative");
                  margin-left: 0;
                  justify-content: space-between;
                  max-width: 60px;
                  margin-top: 10px;

                  li {
                    div {
                      font-size: 19px;
                    }
                  }
                }
              }
            }

            .footer_top_R {
              height: 220px;
              padding: 0;
              max-width: 60%;

              .footer_top_inner_side_cnt {
                max-width: 210px;
                display: grid;
                justify-content: flex-end;

                ul {
                  text-align: right;
                  font-size: 12px;
                  margin-bottom: 25px;

                  li {
                    height: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .footer_bottom {
      .footer_bottom_cnt {
        font-size: 11px;

        .icon {
          position: relative;
          top: -2px;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .footer {
    margin-top: 50px;

    .footer_top {
      .footer_top_inner {
        padding: 0;
        padding-left: 30px;

        .footer_top_inner_box {
          padding-top: 60px;

          .footer_top_inner_row {
            .footer_top_inner_side {
              height: 100%;
              max-width: 100%;
              width: 100%;
              justify-content: center;
              align-items: flex-start;
            }

            .footer_top_L {
              height: 220px;
              max-width: 40%;

              .footer_top_inner_side_cnt {
                .logo {
                  text-align: center;

                  a {
                    h1 {
                      font-size: 25px;
                    }

                    span {
                      font-size: 7px;
                    }
                  }
                }

                .contact {
                  text-align: left;
                  margin-top: 40px;

                  li {
                    font-size: 12px;
                  }
                }

                .socials {
                  @include quickCenter("relative");
                  margin-left: 0;
                  justify-content: space-between;
                  max-width: 60px;
                  margin-top: 10px;

                  li {
                    div {
                      font-size: 19px;
                    }
                  }
                }
              }
            }

            .footer_top_R {
              height: 220px;
              padding: 0;
              max-width: 60%;

              .footer_top_inner_side_cnt {
                max-width: 210px;
                display: grid;
                justify-content: flex-end;

                ul {
                  text-align: right;
                  font-size: 12px;
                  margin-bottom: 25px;

                  li {
                    height: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .footer_bottom {
      .footer_bottom_cnt {
        font-size: 11px;

        .icon {
          position: relative;
          top: -2px;
        }
      }
    }
  }
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .footer {
    margin-top: 50px;

    .footer_top {
      .footer_top_inner {
        padding: 0;
        padding-left: 30px;

        .footer_top_inner_box {
          padding-top: 60px;

          .footer_top_inner_row {
            .footer_top_inner_side {
              height: 100%;
              max-width: 100%;
              width: 100%;
              justify-content: center;
              align-items: flex-start;
            }

            .footer_top_L {
              height: 220px;
              max-width: 40%;

              .footer_top_inner_side_cnt {
                .logo {
                  text-align: center;

                  a {
                    h1 {
                      font-size: 25px;
                    }

                    span {
                      font-size: 7px;
                    }
                  }
                }

                .contact {
                  text-align: left;
                  margin-top: 40px;

                  li {
                    font-size: 12px;
                  }
                }

                .socials {
                  @include quickCenter("relative");
                  margin-left: 0;
                  justify-content: space-between;
                  max-width: 60px;
                  margin-top: 10px;

                  li {
                    div {
                      font-size: 19px;
                    }
                  }
                }
              }
            }

            .footer_top_R {
              height: 220px;
              padding: 0;
              max-width: 60%;

              .footer_top_inner_side_cnt {
                max-width: 210px;
                display: grid;
                justify-content: flex-end;

                ul {
                  text-align: right;
                  font-size: 12px;
                  margin-bottom: 25px;

                  li {
                    height: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .footer_bottom {
      .footer_bottom_cnt {
        font-size: 11px;

        .icon {
          position: relative;
          top: -2px;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .footer {
    margin-top: 50px;

    .footer_top {
      .footer_top_inner {
        padding: 0;
        padding-left: 30px;

        .footer_top_inner_box {
          padding-top: 60px;

          .footer_top_inner_row {
            .footer_top_inner_side {
              height: 100%;
              max-width: 100%;
              width: 100%;
              justify-content: center;
              align-items: flex-start;
            }

            .footer_top_L {
              height: 220px;
              max-width: 40%;

              .footer_top_inner_side_cnt {
                .logo {
                  text-align: center;

                  a {
                    h1 {
                      font-size: 25px;
                    }

                    span {
                      font-size: 7px;
                    }
                  }
                }

                .contact {
                  text-align: left;
                  margin-top: 40px;

                  li {
                    font-size: 12px;
                  }
                }

                .socials {
                  @include quickCenter("relative");
                  margin-left: 0;
                  justify-content: space-between;
                  max-width: 60px;
                  margin-top: 10px;

                  li {
                    div {
                      font-size: 19px;
                    }
                  }
                }
              }
            }

            .footer_top_R {
              height: 220px;
              padding: 0;
              max-width: 60%;

              .footer_top_inner_side_cnt {
                max-width: 210px;
                display: grid;
                justify-content: flex-end;

                ul {
                  text-align: right;
                  font-size: 12px;
                  margin-bottom: 25px;

                  li {
                    height: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .footer_bottom {
      .footer_bottom_cnt {
        font-size: 11px;

        .icon {
          position: relative;
          top: -2px;
        }
      }
    }
  }
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .footer {
    margin-top: 120px;

    .footer_top {
      .footer_top_inner {
        padding: 0;
        padding-left: 80px;

        .footer_top_inner_box {
          padding-top: 60px;

          .footer_top_inner_row {
            .footer_top_inner_side {
              height: 100%;
              max-width: 100%;
              width: 100%;
              justify-content: center;
              align-items: flex-start;
            }

            .footer_top_L {
              height: 220px;
              max-width: 40%;

              .footer_top_inner_side_cnt {
                .logo {
                  text-align: center;

                  a {
                    h1 {
                      font-size: 25px;
                    }

                    span {
                      font-size: 7px;
                    }
                  }
                }

                .contact {
                  text-align: left;
                  margin-top: 40px;

                  li {
                    font-size: 12px;
                  }
                }

                .socials {
                  @include quickCenter("relative");
                  margin-left: 0;
                  justify-content: space-between;
                  max-width: 60px;
                  margin-top: 10px;

                  li {
                    div {
                      font-size: 19px;
                    }
                  }
                }
              }
            }

            .footer_top_R {
              height: 220px;
              padding: 0;
              max-width: 60%;

              .footer_top_inner_side_cnt {
                max-width: 210px;
                display: grid;
                justify-content: flex-end;

                ul {
                  text-align: right;
                  font-size: 12px;
                  margin-bottom: 25px;

                  li {
                    height: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .footer_bottom {
      .footer_bottom_cnt {
        font-size: 11px;

        .icon {
          position: relative;
          top: -2px;
        }
      }
    }
  }
}
