@font-face {
  font-family: "Montserrat Regular";
  src: url("../../../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("../../../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat Semibold";
  src: url("../../../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../../../fonts/Montserrat-Bold.ttf");
}
.footer {
  margin-top: 220px;
}
.footer .footer_top {
  background-color: #1e2022;
}
.footer .footer_top .footer_top_inner {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}
.footer .footer_top .footer_top_inner .footer_top_inner_box {
  padding-top: 120px;
  padding-bottom: 30px;
}
.footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_inner_side {
  height: 350px;
  display: flex;
  align-items: flex-start;
}
.footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo a {
  text-decoration: none;
  color: #f6f6f6;
}
.footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo a h1 {
  font-family: "Montserrat Bold";
  font-size: 34px;
}
.footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo a span {
  font-family: "Montserrat Medium";
  font-size: 9.5px;
}
.footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .contact {
  font-family: "Montserrat Medium";
  color: #f6f6f6;
  margin-top: 80px;
}
.footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .contact li {
  height: 30px;
  font-size: 15px;
  opacity: 0.7;
  cursor: default;
}
.footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .socials {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70px;
}
.footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .socials li div {
  cursor: pointer;
  color: #f6f6f6;
  font-size: 23px;
}
.footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .socials li div:hover {
  color: #52616b;
}
.footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R {
  justify-content: flex-end;
}
.footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt {
  width: 100%;
  max-width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}
.footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul {
  font-family: "Montserrat Medium";
  font-size: 16px;
}
.footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul li {
  height: 40px;
}
.footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul li a {
  text-decoration: none;
  color: #f6f6f6;
}
.footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul li a:hover {
  opacity: 0.5;
}
.footer .footer_bottom {
  background-color: rgb(17, 17, 17);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat Semibold";
  color: #f6f6f6;
  font-size: 14px;
}
.footer .footer_bottom .footer_bottom_cnt {
  opacity: 0.3;
  cursor: default;
}
.footer .footer_bottom .footer_bottom_cnt .icon {
  margin-right: 8px;
}

@media all and (max-width: 991px) {
  .footer {
    margin-top: 110px;
  }
  .footer .footer_top .footer_top_inner {
    padding: 0;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box {
    padding-top: 20px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_inner_side {
    height: 100%;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L {
    height: 360px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo {
    text-align: center;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .contact {
    text-align: center;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .contact li {
    font-size: 14px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .socials {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    max-width: 160px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R {
    height: 180px;
    padding: 0;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt {
    max-width: 250px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul {
    text-align: center;
    font-size: 14px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul li {
    height: 30px;
  }
  .footer .footer_bottom .footer_bottom_cnt {
    font-size: 12px;
  }
}
@media all and (max-width: 768px) {
  .footer {
    margin-top: 60px;
  }
  .footer .footer_top .footer_top_inner {
    padding: 0;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box {
    padding-top: 0px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_inner_side {
    height: 100%;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L {
    height: 360px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo {
    text-align: center;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo a h1 {
    font-size: 25px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo a span {
    font-size: 7px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .contact {
    text-align: center;
    margin-top: 60px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .contact li {
    font-size: 12px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .socials {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    max-width: 160px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R {
    height: 110px;
    padding: 0;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt {
    max-width: 250px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul {
    text-align: center;
    font-size: 13px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul li {
    height: 30px;
  }
  .footer .footer_bottom .footer_bottom_cnt {
    font-size: 12px;
  }
}
@media all and (max-width: 419px) {
  .footer {
    margin-top: 50px;
  }
  .footer .footer_top .footer_top_inner {
    padding: 0;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box {
    padding-top: 0px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_inner_side {
    height: 100%;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L {
    height: 360px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo {
    text-align: center;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo a h1 {
    font-size: 25px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo a span {
    font-size: 7px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .contact {
    text-align: center;
    margin-top: 60px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .contact li {
    font-size: 12px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .socials {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    max-width: 130px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .socials li div {
    font-size: 19px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R {
    height: 110px;
    padding: 0;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt {
    max-width: 210px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul {
    text-align: center;
    font-size: 12px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul li {
    height: 30px;
  }
  .footer .footer_bottom .footer_bottom_cnt {
    font-size: 11px;
  }
  .footer .footer_bottom .footer_bottom_cnt .icon {
    position: relative;
    top: -2px;
  }
}
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .footer {
    margin-top: 50px;
  }
  .footer .footer_top .footer_top_inner {
    padding: 0;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box {
    padding-top: 60px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_inner_side {
    height: 100%;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L {
    height: 220px;
    max-width: 40%;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo {
    text-align: center;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo a h1 {
    font-size: 25px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo a span {
    font-size: 7px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .contact {
    text-align: left;
    margin-top: 40px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .contact li {
    font-size: 12px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .socials {
    margin-left: auto;
    margin-right: auto;
    margin-left: 0;
    justify-content: space-between;
    max-width: 60px;
    margin-top: 10px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .socials li div {
    font-size: 19px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R {
    height: 220px;
    padding: 0;
    max-width: 60%;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt {
    max-width: 210px;
    display: grid;
    justify-content: flex-end;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul {
    text-align: right;
    font-size: 12px;
    margin-bottom: 25px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul li {
    height: 30px;
  }
  .footer .footer_bottom .footer_bottom_cnt {
    font-size: 11px;
  }
  .footer .footer_bottom .footer_bottom_cnt .icon {
    position: relative;
    top: -2px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .footer {
    margin-top: 50px;
  }
  .footer .footer_top .footer_top_inner {
    padding: 0;
    padding-left: 30px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box {
    padding-top: 60px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_inner_side {
    height: 100%;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L {
    height: 220px;
    max-width: 40%;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo {
    text-align: center;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo a h1 {
    font-size: 25px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo a span {
    font-size: 7px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .contact {
    text-align: left;
    margin-top: 40px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .contact li {
    font-size: 12px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .socials {
    margin-left: auto;
    margin-right: auto;
    margin-left: 0;
    justify-content: space-between;
    max-width: 60px;
    margin-top: 10px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .socials li div {
    font-size: 19px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R {
    height: 220px;
    padding: 0;
    max-width: 60%;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt {
    max-width: 210px;
    display: grid;
    justify-content: flex-end;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul {
    text-align: right;
    font-size: 12px;
    margin-bottom: 25px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul li {
    height: 30px;
  }
  .footer .footer_bottom .footer_bottom_cnt {
    font-size: 11px;
  }
  .footer .footer_bottom .footer_bottom_cnt .icon {
    position: relative;
    top: -2px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .footer {
    margin-top: 50px;
  }
  .footer .footer_top .footer_top_inner {
    padding: 0;
    padding-left: 30px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box {
    padding-top: 60px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_inner_side {
    height: 100%;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L {
    height: 220px;
    max-width: 40%;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo {
    text-align: center;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo a h1 {
    font-size: 25px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo a span {
    font-size: 7px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .contact {
    text-align: left;
    margin-top: 40px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .contact li {
    font-size: 12px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .socials {
    margin-left: auto;
    margin-right: auto;
    margin-left: 0;
    justify-content: space-between;
    max-width: 60px;
    margin-top: 10px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .socials li div {
    font-size: 19px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R {
    height: 220px;
    padding: 0;
    max-width: 60%;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt {
    max-width: 210px;
    display: grid;
    justify-content: flex-end;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul {
    text-align: right;
    font-size: 12px;
    margin-bottom: 25px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul li {
    height: 30px;
  }
  .footer .footer_bottom .footer_bottom_cnt {
    font-size: 11px;
  }
  .footer .footer_bottom .footer_bottom_cnt .icon {
    position: relative;
    top: -2px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .footer {
    margin-top: 50px;
  }
  .footer .footer_top .footer_top_inner {
    padding: 0;
    padding-left: 30px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box {
    padding-top: 60px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_inner_side {
    height: 100%;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L {
    height: 220px;
    max-width: 40%;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo {
    text-align: center;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo a h1 {
    font-size: 25px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo a span {
    font-size: 7px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .contact {
    text-align: left;
    margin-top: 40px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .contact li {
    font-size: 12px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .socials {
    margin-left: auto;
    margin-right: auto;
    margin-left: 0;
    justify-content: space-between;
    max-width: 60px;
    margin-top: 10px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .socials li div {
    font-size: 19px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R {
    height: 220px;
    padding: 0;
    max-width: 60%;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt {
    max-width: 210px;
    display: grid;
    justify-content: flex-end;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul {
    text-align: right;
    font-size: 12px;
    margin-bottom: 25px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul li {
    height: 30px;
  }
  .footer .footer_bottom .footer_bottom_cnt {
    font-size: 11px;
  }
  .footer .footer_bottom .footer_bottom_cnt .icon {
    position: relative;
    top: -2px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .footer {
    margin-top: 50px;
  }
  .footer .footer_top .footer_top_inner {
    padding: 0;
    padding-left: 30px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box {
    padding-top: 60px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_inner_side {
    height: 100%;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L {
    height: 220px;
    max-width: 40%;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo {
    text-align: center;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo a h1 {
    font-size: 25px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo a span {
    font-size: 7px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .contact {
    text-align: left;
    margin-top: 40px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .contact li {
    font-size: 12px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .socials {
    margin-left: auto;
    margin-right: auto;
    margin-left: 0;
    justify-content: space-between;
    max-width: 60px;
    margin-top: 10px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .socials li div {
    font-size: 19px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R {
    height: 220px;
    padding: 0;
    max-width: 60%;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt {
    max-width: 210px;
    display: grid;
    justify-content: flex-end;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul {
    text-align: right;
    font-size: 12px;
    margin-bottom: 25px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul li {
    height: 30px;
  }
  .footer .footer_bottom .footer_bottom_cnt {
    font-size: 11px;
  }
  .footer .footer_bottom .footer_bottom_cnt .icon {
    position: relative;
    top: -2px;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .footer {
    margin-top: 120px;
  }
  .footer .footer_top .footer_top_inner {
    padding: 0;
    padding-left: 80px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box {
    padding-top: 60px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_inner_side {
    height: 100%;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L {
    height: 220px;
    max-width: 40%;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo {
    text-align: center;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo a h1 {
    font-size: 25px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .logo a span {
    font-size: 7px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .contact {
    text-align: left;
    margin-top: 40px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .contact li {
    font-size: 12px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .socials {
    margin-left: auto;
    margin-right: auto;
    margin-left: 0;
    justify-content: space-between;
    max-width: 60px;
    margin-top: 10px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_L .footer_top_inner_side_cnt .socials li div {
    font-size: 19px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R {
    height: 220px;
    padding: 0;
    max-width: 60%;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt {
    max-width: 210px;
    display: grid;
    justify-content: flex-end;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul {
    text-align: right;
    font-size: 12px;
    margin-bottom: 25px;
  }
  .footer .footer_top .footer_top_inner .footer_top_inner_box .footer_top_inner_row .footer_top_R .footer_top_inner_side_cnt ul li {
    height: 30px;
  }
  .footer .footer_bottom .footer_bottom_cnt {
    font-size: 11px;
  }
  .footer .footer_bottom .footer_bottom_cnt .icon {
    position: relative;
    top: -2px;
  }
}/*# sourceMappingURL=Footer.module.css.map */