@font-face {
  font-family: "Montserrat Regular";
  src: url("../../../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("../../../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat Semibold";
  src: url("../../../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../../../fonts/Montserrat-Bold.ttf");
}
.index_top {
  height: 1400px;
  width: 100%;
  position: relative;
}
.index_top .bg {
  width: 100%;
  height: 1400px !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 20%;
}
.index_top .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.index_top .overlay .overlay_cnt {
  position: relative;
  top: -100px;
}
.index_top .overlay .overlay_cnt h1 {
  font-family: "Montserrat Bold";
  color: #f6f6f6;
  font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  cursor: default;
}
.index_top .overlay .overlay_cnt .small_text {
  font-family: "Montserrat Semibold";
  color: #f6f6f6;
  font-size: clamp(1.5rem, 1vw + 1.11rem, 1.5rem);
  margin-top: 25px;
  margin-bottom: 45px;
  display: block;
  text-transform: uppercase;
  cursor: default;
}
.index_top .overlay .overlay_cnt .links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.index_top .overlay .overlay_cnt .links a {
  height: 45px;
  background-color: #1e2022;
  width: 100%;
  max-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat Medium";
  color: #f6f6f6;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.072);
  font-size: 17px;
  border-radius: 5px;
}
.index_top .overlay .overlay_cnt .links a:hover {
  background-color: #52616b;
}

.index_info {
  overflow: hidden;
}
.index_info .index_info_box {
  padding: 0;
  background-color: #f6f6f6;
}
.index_info .index_info_box .index_info_row .index_info_side {
  height: 700px;
  padding: 0;
}
.index_info .index_info_box .index_info_row .index_info_L .bg {
  height: 700px !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(40%);
}
.index_info .index_info_box .index_info_row .index_info_R {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt {
  max-width: 800px;
  text-align: center;
  position: relative;
  left: -10px;
}
.index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt h1 {
  font-family: "Montserrat Bold";
  color: #1e2022;
  font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  text-transform: uppercase;
  cursor: default;
}
.index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt p {
  font-family: "Montserrat Medium";
  font-size: clamp(1.1rem, 0.56vw + 1rem, 1.1rem);
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: default;
}
.index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt .socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt .socials div {
  cursor: pointer;
  font-size: 32px;
  color: #52616b;
}
.index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt .socials div:hover {
  color: #1e2022;
}
.index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt span {
  font-family: "Montserrat Medium";
  opacity: 0.7;
  cursor: default;
}

@media all and (max-width: 1995px) {
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt {
    max-width: 650px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt h1 {
    font-size: 40px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt p {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (max-width: 991px) {
  .index_top {
    height: 800px;
  }
  .index_top .bg {
    height: 800px !important;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 40px;
  }
  .index_top .overlay .overlay_cnt .small_text {
    font-size: 20px;
  }
  .index_top .overlay .overlay_cnt .links {
    display: inline-block;
  }
  .index_top .overlay .overlay_cnt .links a {
    margin-bottom: 20px;
    max-width: 110px;
    width: 110px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt {
    max-width: 650px;
    left: 0px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt h1 {
    font-size: 29px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt p {
    max-width: 350px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt .socials div {
    font-size: 28px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt span {
    font-size: 13px;
  }
}
@media all and (max-width: 768px) {
  .index_top {
    height: 600px;
  }
  .index_top .bg {
    height: 600px !important;
  }
  .index_top .overlay .overlay_cnt {
    top: 20px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 32px;
  }
  .index_top .overlay .overlay_cnt .small_text {
    font-size: 17px;
  }
  .index_top .overlay .overlay_cnt .links {
    display: inline-block;
  }
  .index_top .overlay .overlay_cnt .links a {
    margin-bottom: 20px;
    max-width: 90px;
    width: 90px;
    font-size: 14px;
  }
  .index_info .index_info_box .index_info_row .index_info_side {
    max-width: 100%;
    width: 100%;
  }
  .index_info .index_info_box .index_info_row .index_info_L {
    height: 200px;
  }
  .index_info .index_info_box .index_info_row .index_info_L .bg {
    background-position: center top;
    filter: brightness(30%);
  }
  .index_info .index_info_box .index_info_row .index_info_R {
    height: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt {
    max-width: 650px;
    left: 0px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt h1 {
    font-size: 25px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt p {
    max-width: 450px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt .socials div {
    font-size: 28px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt span {
    font-size: 13px;
  }
}
@media all and (max-width: 419px) {
  .index_top {
    height: 570px;
  }
  .index_top .bg {
    height: 570px !important;
  }
  .index_top .overlay .overlay_cnt {
    top: 25px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 23px;
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
  }
  .index_top .overlay .overlay_cnt .small_text {
    font-size: 15px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .index_top .overlay .overlay_cnt .links {
    display: flex;
  }
  .index_top .overlay .overlay_cnt .links a {
    margin-bottom: 20px;
    max-width: 90px;
    width: 90px;
    height: 40px;
    font-size: 13px;
  }
  .index_info .index_info_box .index_info_row .index_info_side {
    max-width: 100%;
    width: 100%;
  }
  .index_info .index_info_box .index_info_row .index_info_L {
    height: 100px;
  }
  .index_info .index_info_box .index_info_row .index_info_L .bg {
    background-position: center;
    filter: brightness(30%);
  }
  .index_info .index_info_box .index_info_row .index_info_R {
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt {
    max-width: 650px;
    left: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt h1 {
    font-size: 20px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt p {
    max-width: 270px;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt .socials div {
    font-size: 24px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt span {
    font-size: 13px;
  }
}
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .index_top {
    height: 320px;
  }
  .index_top .bg {
    height: 320px !important;
  }
  .index_top .overlay .overlay_cnt {
    top: 40px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 27px;
    max-width: 500px;
  }
  .index_top .overlay .overlay_cnt .small_text {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 13px;
    max-width: 500px;
  }
  .index_top .overlay .overlay_cnt .links {
    display: flex;
    max-width: 240px;
  }
  .index_top .overlay .overlay_cnt .links a {
    margin-bottom: 20px;
    max-width: 80px;
    width: 80px;
    font-size: 13px;
    height: 40px;
  }
  .index_info .index_info_box .index_info_row .index_info_side {
    max-width: 100%;
    width: 100%;
  }
  .index_info .index_info_box .index_info_row .index_info_L {
    height: 410px;
    max-width: 30%;
  }
  .index_info .index_info_box .index_info_row .index_info_L .bg {
    background-position: center;
    filter: brightness(30%);
  }
  .index_info .index_info_box .index_info_row .index_info_R {
    height: 410px;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 70%;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt {
    max-width: 650px;
    left: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt h1 {
    font-size: 20px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt p {
    max-width: 270px;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt .socials div {
    font-size: 24px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt span {
    font-size: 13px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    height: 620px;
  }
  .index_top .bg {
    height: 620px !important;
  }
  .index_top .overlay .overlay_cnt {
    top: 20px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 37px;
    max-width: 500px;
  }
  .index_top .overlay .overlay_cnt .small_text {
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 19px;
    max-width: 500px;
  }
  .index_top .overlay .overlay_cnt .links {
    display: flex;
    max-width: 240px;
  }
  .index_top .overlay .overlay_cnt .links a {
    margin-bottom: 20px;
    max-width: 95px;
    width: 95px;
    font-size: 15px;
    height: 45px;
  }
  .index_info .index_info_box .index_info_row .index_info_side {
    max-width: 100%;
    width: 100%;
  }
  .index_info .index_info_box .index_info_row .index_info_L {
    height: 500px;
    max-width: 30%;
  }
  .index_info .index_info_box .index_info_row .index_info_L .bg {
    background-position: center;
    filter: brightness(30%);
  }
  .index_info .index_info_box .index_info_row .index_info_R {
    height: 500px;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 70%;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt {
    max-width: 650px;
    left: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt h1 {
    font-size: 26px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt p {
    max-width: 390px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt .socials div {
    font-size: 27px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt span {
    font-size: 14px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    height: 420px;
  }
  .index_top .bg {
    height: 420px !important;
  }
  .index_top .overlay .overlay_cnt {
    top: 40px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 35px;
    max-width: 500px;
  }
  .index_top .overlay .overlay_cnt .small_text {
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 15px;
    max-width: 500px;
  }
  .index_top .overlay .overlay_cnt .links {
    display: flex;
    max-width: 240px;
  }
  .index_top .overlay .overlay_cnt .links a {
    margin-bottom: 20px;
    max-width: 95px;
    width: 95px;
    font-size: 15px;
    height: 45px;
  }
  .index_info .index_info_box .index_info_row .index_info_side {
    max-width: 100%;
    width: 100%;
  }
  .index_info .index_info_box .index_info_row .index_info_L {
    height: 400px;
    max-width: 30%;
  }
  .index_info .index_info_box .index_info_row .index_info_L .bg {
    background-position: center;
    filter: brightness(30%);
  }
  .index_info .index_info_box .index_info_row .index_info_R {
    height: 400px;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 70%;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt {
    max-width: 650px;
    left: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt h1 {
    font-size: 26px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt p {
    max-width: 390px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt .socials div {
    font-size: 27px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt span {
    font-size: 14px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .index_top {
    height: 720px;
  }
  .index_top .bg {
    height: 720px !important;
  }
  .index_top .overlay .overlay_cnt {
    top: 30px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 42px;
    max-width: 500px;
  }
  .index_top .overlay .overlay_cnt .small_text {
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 18px;
    max-width: 500px;
  }
  .index_top .overlay .overlay_cnt .links {
    display: flex;
    max-width: 240px;
  }
  .index_top .overlay .overlay_cnt .links a {
    margin-bottom: 20px;
    max-width: 95px;
    width: 95px;
    font-size: 15px;
    height: 45px;
  }
  .index_info .index_info_box .index_info_row .index_info_side {
    max-width: 100%;
    width: 100%;
  }
  .index_info .index_info_box .index_info_row .index_info_L {
    height: 540px;
    max-width: 30%;
  }
  .index_info .index_info_box .index_info_row .index_info_L .bg {
    background-position: center;
    filter: brightness(30%);
  }
  .index_info .index_info_box .index_info_row .index_info_R {
    height: 540px;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 70%;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt {
    max-width: 650px;
    left: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt h1 {
    font-size: 32px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt p {
    max-width: 460px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt .socials div {
    font-size: 27px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt span {
    font-size: 14px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .index_top {
    height: 620px;
  }
  .index_top .bg {
    height: 620px !important;
  }
  .index_top .overlay .overlay_cnt {
    top: 30px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 42px;
    max-width: 500px;
  }
  .index_top .overlay .overlay_cnt .small_text {
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 18px;
    max-width: 500px;
  }
  .index_top .overlay .overlay_cnt .links {
    display: flex;
    max-width: 240px;
  }
  .index_top .overlay .overlay_cnt .links a {
    margin-bottom: 20px;
    max-width: 95px;
    width: 95px;
    font-size: 15px;
    height: 45px;
  }
  .index_info .index_info_box .index_info_row .index_info_side {
    max-width: 100%;
    width: 100%;
  }
  .index_info .index_info_box .index_info_row .index_info_L {
    height: 540px;
    max-width: 30%;
  }
  .index_info .index_info_box .index_info_row .index_info_L .bg {
    background-position: center;
    filter: brightness(30%);
  }
  .index_info .index_info_box .index_info_row .index_info_R {
    height: 540px;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 70%;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt {
    max-width: 650px;
    left: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt h1 {
    font-size: 30px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt p {
    max-width: 460px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt .socials div {
    font-size: 25px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt span {
    font-size: 14px;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    height: 720px;
  }
  .index_top .bg {
    height: 720px !important;
  }
  .index_top .overlay .overlay_cnt {
    top: 30px;
  }
  .index_top .overlay .overlay_cnt h1 {
    font-size: 46px;
    max-width: 600px;
  }
  .index_top .overlay .overlay_cnt .small_text {
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 21px;
    max-width: 500px;
  }
  .index_top .overlay .overlay_cnt .links {
    display: flex;
    max-width: 240px;
  }
  .index_top .overlay .overlay_cnt .links a {
    margin-bottom: 20px;
    max-width: 95px;
    width: 95px;
    font-size: 15px;
    height: 45px;
  }
  .index_info .index_info_box .index_info_row .index_info_side {
    max-width: 100%;
    width: 100%;
  }
  .index_info .index_info_box .index_info_row .index_info_L {
    height: 540px;
    max-width: 30%;
  }
  .index_info .index_info_box .index_info_row .index_info_L .bg {
    background-position: center;
    filter: brightness(30%);
  }
  .index_info .index_info_box .index_info_row .index_info_R {
    height: 540px;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 70%;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt {
    max-width: 650px;
    left: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt h1 {
    font-size: 35px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt p {
    max-width: 560px;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt .socials div {
    font-size: 29px;
  }
  .index_info .index_info_box .index_info_row .index_info_R .index_info_side_cnt span {
    font-size: 14px;
  }
}/*# sourceMappingURL=Index.module.css.map */