// Imports
@import "../../tools/mixins/mixins.scss";
@import "../../tools/themes/themes.scss";
@import "../../tools/variables/variable.scss";

// Fonts
@font-face {
  font-family: "Montserrat Regular";
  src: url("../../../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("../../../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat Semibold";
  src: url("../../../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../../../fonts/Montserrat-Bold.ttf");
}

// Desktop
.index_top {
  height: 1400px;
  width: 100%;
  position: relative;

  .bg {
    width: 100%;
    height: 1400px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 20%;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    @include displayElement(flex, center, center);
    text-align: center;

    .overlay_cnt {
      position: relative;
      top: -100px;

      h1 {
        font-family: "Montserrat Bold";
        color: $WildSand;
        font-size: $Heading;
        cursor: default;
        // user-select: none;
      }

      .small_text {
        font-family: "Montserrat Semibold";
        color: $WildSand;
        font-size: $TopText;
        margin-top: 25px;
        margin-bottom: 45px;
        display: block;
        text-transform: uppercase;
        cursor: default;
        // user-select: none;
      }

      .links {
        @include displayElement(flex, space-evenly, center);
        max-width: 350px;
        @include quickCenter("relative");

        a {
          height: 45px;
          background-color: $Shark;
          width: 100%;
          max-width: 120px;
          @include displayElement(flex, center, center);
          font-family: "Montserrat Medium";
          color: $WildSand;
          text-decoration: none;
          border: 1px solid rgba(255, 255, 255, 0.072);
          font-size: 17px;
          border-radius: 5px;

          span {
            // user-select: none;
          }

          &:hover {
            background-color: $ShuttleGray;
            // color: $Shark;
          }
        }
      }
    }
  }
}
.index_info {
  overflow: hidden;

  .index_info_box {
    padding: 0;
    background-color: $WildSand;

    .index_info_row {
      .index_info_side {
        height: 700px;
        padding: 0;
      }

      .index_info_L {
        .bg {
          height: 700px !important;
          @include bGSU(cover, center);
          filter: brightness(40%);
        }
      }

      .index_info_R {
        @include displayElement(flex, center, center);

        .index_info_side_cnt {
          max-width: 800px;
          text-align: center;
          position: relative;
          left: -10px;

          h1 {
            font-family: "Montserrat Bold";
            color: $Shark;
            font-size: $Heading;
            text-transform: uppercase;
            cursor: default;
            // user-select: none;
          }

          p {
            font-family: "Montserrat Medium";
            font-size: $Text;
            line-height: 30px;
            margin-top: 20px;
            margin-bottom: 30px;
            cursor: default;
            // user-select: none;
          }

          .socials {
            @include displayElement(flex, space-evenly, center);
            max-width: 150px;
            @include quickCenter("relative");
            margin-bottom: 15px;

            div {
              cursor: pointer;
              font-size: 32px;
              color: $ShuttleGray;

              &:hover {
                color: $Shark;
              }
            }
          }

          span {
            font-family: "Montserrat Medium";
            opacity: 0.7;
            cursor: default;
            // user-select: none;
          }
        }
      }
    }
  }
}

// Responsive
@media all and (max-width: 1995px) {
  .index_info {
    .index_info_box {
      .index_info_row {
        .index_info_R {
          .index_info_side_cnt {
            max-width: 650px;

            h1 {
              font-size: 40px;
            }

            p {
              max-width: 400px;
              @include quickCenter("relative");
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  .index_top {
    height: 800px;

    .bg {
      height: 800px !important;
    }

    .overlay {
      .overlay_cnt {
        h1 {
          font-size: 40px;
        }

        .small_text {
          font-size: 20px;
        }

        .links {
          display: inline-block;

          a {
            margin-bottom: 20px;
            max-width: 110px;
            width: 110px;
          }
        }
      }
    }
  }
  .index_info {
    .index_info_box {
      .index_info_row {
        .index_info_R {
          .index_info_side_cnt {
            max-width: 650px;
            left: 0px;

            h1 {
              font-size: 29px;
            }

            p {
              max-width: 350px;
              font-size: 15px;
              @include quickCenter("relative");
            }

            .socials {
              div {
                font-size: 28px;
              }
            }

            span {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
  .index_top {
    height: 600px;

    .bg {
      height: 600px !important;
    }

    .overlay {
      .overlay_cnt {
        top: 20px;

        h1 {
          font-size: 32px;
        }

        .small_text {
          font-size: 17px;
        }

        .links {
          display: inline-block;

          a {
            margin-bottom: 20px;
            max-width: 90px;
            width: 90px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .index_info {
    .index_info_box {
      .index_info_row {
        .index_info_side {
          max-width: 100%;
          width: 100%;
        }

        .index_info_L {
          height: 200px;

          .bg {
            background-position: center top;
            filter: brightness(30%);
          }
        }

        .index_info_R {
          height: 100%;
          padding-top: 90px;
          padding-bottom: 90px;

          .index_info_side_cnt {
            max-width: 650px;
            left: 0px;

            h1 {
              font-size: 25px;
            }

            p {
              max-width: 85%;
              font-size: 14px;
              @include quickCenter("relative");
            }

            .socials {
              div {
                font-size: 28px;
              }
            }

            span {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
  .index_top {
    height: 570px;

    .bg {
      height: 570px !important;
    }

    .overlay {
      .overlay_cnt {
        top: 25px;

        h1 {
          font-size: 23px;
          max-width: 230px;
          @include quickCenter("relative");
        }

        .small_text {
          font-size: 15px;
          max-width: 250px;
          @include quickCenter("relative");
        }

        .links {
          display: flex;

          a {
            margin-bottom: 20px;
            max-width: 90px;
            width: 90px;
            height: 40px;
            font-size: 13px;
          }
        }
      }
    }
  }
  .index_info {
    .index_info_box {
      .index_info_row {
        .index_info_side {
          max-width: 100%;
          width: 100%;
        }

        .index_info_L {
          height: 100px;

          .bg {
            background-position: center;
            filter: brightness(30%);
          }
        }

        .index_info_R {
          height: 100%;
          padding-top: 60px;
          padding-bottom: 60px;

          .index_info_side_cnt {
            max-width: 650px;
            left: 0px;
            padding-left: 20px;
            padding-right: 20px;

            h1 {
              font-size: 20px;
            }

            p {
              max-width: 85%;
              font-size: 13px;
              @include quickCenter("relative");
              line-height: 25px;
              padding-left: 20px;
              padding-right: 20px;
            }

            .socials {
              div {
                font-size: 24px;
              }
            }

            span {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .index_top {
    height: 320px;

    .bg {
      height: 320px !important;
    }

    .overlay {
      .overlay_cnt {
        top: 40px;

        h1 {
          font-size: 27px;
          max-width: 500px;
        }

        .small_text {
          margin-top: 15px;
          margin-bottom: 25px;
          font-size: 13px;
          max-width: 500px;
        }

        .links {
          display: flex;
          max-width: 240px;

          a {
            margin-bottom: 20px;
            max-width: 80px;
            width: 80px;
            font-size: 13px;
            height: 40px;
          }
        }
      }
    }
  }
  .index_info {
    .index_info_box {
      .index_info_row {
        .index_info_side {
          max-width: 100%;
          width: 100%;
        }

        .index_info_L {
          height: 410px;
          max-width: 30%;

          .bg {
            background-position: center;
            filter: brightness(30%);
          }
        }

        .index_info_R {
          height: 410px;
          padding-top: 60px;
          padding-bottom: 60px;
          max-width: 70%;

          .index_info_side_cnt {
            max-width: 650px;
            left: 0px;
            padding-left: 20px;
            padding-right: 20px;

            h1 {
              font-size: 20px;
            }

            p {
              max-width: 270px;
              font-size: 13px;
              @include quickCenter("relative");
              line-height: 25px;
            }

            .socials {
              div {
                font-size: 24px;
              }
            }

            span {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    height: 620px;

    .bg {
      height: 620px !important;
    }

    .overlay {
      .overlay_cnt {
        top: 20px;

        h1 {
          font-size: 37px;
          max-width: 500px;
        }

        .small_text {
          margin-top: 15px;
          margin-bottom: 35px;
          font-size: 19px;
          max-width: 500px;
        }

        .links {
          display: flex;
          max-width: 240px;

          a {
            margin-bottom: 20px;
            max-width: 95px;
            width: 95px;
            font-size: 15px;
            height: 45px;
          }
        }
      }
    }
  }
  .index_info {
    .index_info_box {
      .index_info_row {
        .index_info_side {
          max-width: 100%;
          width: 100%;
        }

        .index_info_L {
          height: 500px;
          max-width: 30%;

          .bg {
            background-position: center;
            filter: brightness(30%);
          }
        }

        .index_info_R {
          height: 500px;
          padding-top: 60px;
          padding-bottom: 60px;
          max-width: 70%;

          .index_info_side_cnt {
            max-width: 650px;
            left: 0px;
            padding-left: 20px;
            padding-right: 20px;

            h1 {
              font-size: 26px;
            }

            p {
              max-width: 390px;
              font-size: 14px;
              @include quickCenter("relative");
              line-height: 25px;
            }

            .socials {
              div {
                font-size: 27px;
              }
            }

            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    height: 420px;

    .bg {
      height: 420px !important;
    }

    .overlay {
      .overlay_cnt {
        top: 40px;

        h1 {
          font-size: 35px;
          max-width: 500px;
        }

        .small_text {
          margin-top: 15px;
          margin-bottom: 35px;
          font-size: 15px;
          max-width: 500px;
        }

        .links {
          display: flex;
          max-width: 240px;

          a {
            margin-bottom: 20px;
            max-width: 95px;
            width: 95px;
            font-size: 15px;
            height: 45px;
          }
        }
      }
    }
  }
  .index_info {
    .index_info_box {
      .index_info_row {
        .index_info_side {
          max-width: 100%;
          width: 100%;
        }

        .index_info_L {
          height: 400px;
          max-width: 30%;

          .bg {
            background-position: center;
            filter: brightness(30%);
          }
        }

        .index_info_R {
          height: 400px;
          padding-top: 60px;
          padding-bottom: 60px;
          max-width: 70%;

          .index_info_side_cnt {
            max-width: 650px;
            left: 0px;
            padding-left: 20px;
            padding-right: 20px;

            h1 {
              font-size: 26px;
            }

            p {
              max-width: 390px;
              font-size: 14px;
              @include quickCenter("relative");
              line-height: 25px;
            }

            .socials {
              div {
                font-size: 27px;
              }
            }

            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .index_top {
    height: 720px;

    .bg {
      height: 720px !important;
    }

    .overlay {
      .overlay_cnt {
        top: 30px;

        h1 {
          font-size: 42px;
          max-width: 500px;
        }

        .small_text {
          margin-top: 15px;
          margin-bottom: 35px;
          font-size: 18px;
          max-width: 500px;
        }

        .links {
          display: flex;
          max-width: 240px;

          a {
            margin-bottom: 20px;
            max-width: 95px;
            width: 95px;
            font-size: 15px;
            height: 45px;
          }
        }
      }
    }
  }
  .index_info {
    .index_info_box {
      .index_info_row {
        .index_info_side {
          max-width: 100%;
          width: 100%;
        }

        .index_info_L {
          height: 540px;
          max-width: 30%;

          .bg {
            background-position: center;
            filter: brightness(30%);
          }
        }

        .index_info_R {
          height: 540px;
          padding-top: 60px;
          padding-bottom: 60px;
          max-width: 70%;

          .index_info_side_cnt {
            max-width: 650px;
            left: 0px;
            padding-left: 20px;
            padding-right: 20px;

            h1 {
              font-size: 32px;
            }

            p {
              max-width: 460px;
              font-size: 16px;
              @include quickCenter("relative");
              line-height: 25px;
            }

            .socials {
              div {
                font-size: 27px;
              }
            }

            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .index_top {
    height: 620px;

    .bg {
      height: 620px !important;
    }

    .overlay {
      .overlay_cnt {
        top: 30px;

        h1 {
          font-size: 42px;
          max-width: 500px;
        }

        .small_text {
          margin-top: 15px;
          margin-bottom: 35px;
          font-size: 18px;
          max-width: 500px;
        }

        .links {
          display: flex;
          max-width: 240px;

          a {
            margin-bottom: 20px;
            max-width: 95px;
            width: 95px;
            font-size: 15px;
            height: 45px;
          }
        }
      }
    }
  }
  .index_info {
    .index_info_box {
      .index_info_row {
        .index_info_side {
          max-width: 100%;
          width: 100%;
        }

        .index_info_L {
          height: 540px;
          max-width: 30%;

          .bg {
            background-position: center;
            filter: brightness(30%);
          }
        }

        .index_info_R {
          height: 540px;
          padding-top: 60px;
          padding-bottom: 60px;
          max-width: 70%;

          .index_info_side_cnt {
            max-width: 650px;
            left: 0px;
            padding-left: 20px;
            padding-right: 20px;

            h1 {
              font-size: 30px;
            }

            p {
              max-width: 460px;
              font-size: 15px;
              @include quickCenter("relative");
              line-height: 25px;
            }

            .socials {
              div {
                font-size: 25px;
              }
            }

            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .index_top {
    height: 720px;

    .bg {
      height: 720px !important;
    }

    .overlay {
      .overlay_cnt {
        top: 30px;

        h1 {
          font-size: 46px;
          max-width: 600px;
        }

        .small_text {
          margin-top: 15px;
          margin-bottom: 35px;
          font-size: 21px;
          max-width: 500px;
        }

        .links {
          display: flex;
          max-width: 240px;

          a {
            margin-bottom: 20px;
            max-width: 95px;
            width: 95px;
            font-size: 15px;
            height: 45px;
          }
        }
      }
    }
  }
  .index_info {
    .index_info_box {
      .index_info_row {
        .index_info_side {
          max-width: 100%;
          width: 100%;
        }

        .index_info_L {
          height: 540px;
          max-width: 30%;

          .bg {
            background-position: center;
            filter: brightness(30%);
          }
        }

        .index_info_R {
          height: 540px;
          padding-top: 60px;
          padding-bottom: 60px;
          max-width: 70%;

          .index_info_side_cnt {
            max-width: 650px;
            left: 0px;
            padding-left: 20px;
            padding-right: 20px;

            h1 {
              font-size: 35px;
            }

            p {
              max-width: 560px;
              font-size: 17px;
              @include quickCenter("relative");
              line-height: 25px;
            }

            .socials {
              div {
                font-size: 29px;
              }
            }

            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
