@font-face {
  font-family: "Montserrat Regular";
  src: url("../../../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("../../../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat Semibold";
  src: url("../../../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../../../fonts/Montserrat-Bold.ttf");
}
.portfolio_top {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 30px;
}
.portfolio_top .portfolio_top_cnt {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio_top .portfolio_top_cnt p {
  font-family: "Montserrat Medium";
  font-size: clamp(1.1rem, 0.56vw + 1rem, 1.1rem);
  line-height: 30px;
  cursor: default;
}
.portfolio_top .portfolio_top_cnt .view_all_btn {
  background-color: #1e2022;
  color: #f6f6f6;
  font-family: "Montserrat Bold";
  width: 100px;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.portfolio_top .portfolio_top_cnt .view_all_btn:hover {
  background-color: #52616b;
}
.portfolio_top .portfolio_top_cnt .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 11px;
}
.portfolio_top .portfolio_top_cnt .btns button {
  background-color: #1e2022;
  color: #f6f6f6;
  font-family: "Montserrat Bold";
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio_top .portfolio_top_cnt .btns button:hover {
  background-color: #52616b;
}
.portfolio_top .portfolio_top_cnt .btns .view_portraits_btn {
  width: 100px;
}
.portfolio_top .portfolio_top_cnt .btns .view_boudoirs_btn {
  width: 105px;
}
.portfolio_top .portfolio_top_cnt .btns .view_blacklights_btn {
  width: 125px;
}

.portfolio_main {
  margin-top: 60px;
}
.portfolio_main .work_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.86);
  z-index: 550;
  display: none;
  opacity: 0;
  visibility: hidden;
}
.portfolio_main .work_modal .work_modal_closer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 551;
  cursor: pointer;
}
.portfolio_main .work_modal .img_holder {
  position: absolute;
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  z-index: 555;
  transform: translate(-50%, -50%);
  background-color: rgb(18, 18, 18);
}
.portfolio_main .work_modal .img_holder img {
  max-width: 600px;
  max-height: 600px;
  cursor: default;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.portfolio_main .portfolio_main_inner {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio_main .portfolio_main_inner .portfolio_main_inner_box {
  background-color: ghostwhite;
}
.portfolio_main .portfolio_main_inner .portfolio_main_inner_box .portfolio_main_inner_row .portfolio_main_inner_item {
  background-color: ghostwhite;
  height: 350px;
  padding: 0;
  max-width: 32%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
  position: relative;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.153);
  border-radius: 15px;
  overflow: hidden;
}
.portfolio_main .portfolio_main_inner .portfolio_main_inner_box .portfolio_main_inner_row .portfolio_main_inner_item:hover .bg {
  scale: 1.05;
}
.portfolio_main .portfolio_main_inner .portfolio_main_inner_box .portfolio_main_inner_row .portfolio_main_inner_item:hover .overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
.portfolio_main .portfolio_main_inner .portfolio_main_inner_box .portfolio_main_inner_row .portfolio_main_inner_item .bg {
  transform: translateZ(0);
  will-change: transform;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.portfolio_main .portfolio_main_inner .portfolio_main_inner_box .portfolio_main_inner_row .portfolio_main_inner_item .overlay {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
}
.portfolio_main .portfolio_main_inner .portfolio_main_inner_box .portfolio_main_inner_row .portfolio_main_inner_item .overlay div {
  display: grid;
  justify-content: center;
  font-family: "Montserrat Medium";
  text-align: center;
  font-size: clamp(1.1rem, 0.56vw + 1rem, 1.1rem);
}
.portfolio_main .portfolio_main_inner .portfolio_main_inner_box .portfolio_main_inner_row .portfolio_main_inner_item .overlay div .icon {
  font-size: 50px;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
}/*# sourceMappingURL=Portfolio.module.css.map */